//
   Created by student on 13-Apr-17.


extends ../../layouts/default
block header
block content


  include blocks/top-section

  .row.block-wrapper.align-justify

    include blocks/part-left

    include blocks/part-right

