.wrapper {
  background: #eee;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  ul{
    margin-bottom: 0;
  }

  .column {
    text-align: center;
    transition: transform .4s linear;
    perspective: 1000px;
    &:hover{
      //transform: rotate(360deg);
      transform: rotateY(50deg);
      //transform: rotateX(deg);
      transform-origin: right;

    }
  }
}

h3 {
  display: block;
}

.fourth {
  background: #ff0000;
  transition: transform 1s linear;
  &:hover{
    transform: rotate(360deg);
  }
}