
.column.small-5.list
  p middle
  ul
    li: a(href="#" style="color: white; background: black") title 1
    li
      a(href="#") title 2
    li
      a(href="#") title 3
    li
      | li text
      a(href="#")  title 3