- var imgPath = "../assets/img/"

-
  var objArray = [
    {
      title: "first title",
      message: "first message",
      className: "first"
    },
    {
      title: "second title",
      message: "second message",
      className: "second"
    },
    {
      title: "third title",
      message: "third message",
      className: "third"
    },
    {
      title: "fourth title",
      message: "fourth message",
      className: "fourth"
    }
  ]

-
  var blocks = [
    {
      imgHouse: "house-1",
      title: "ЖБ «Перспектива Хол»",
      address: "м. Івано-Франківськ, вул. Зілізнична, 49",
      description: "Цокольне приміщення - 93,7 м2,  154,5 м2 Перший поверх - 101,5 м2, 146,5 м2 Другий поверх - 108,3 м2, 122,5 м2 Типовий поверх : двокімнатні - 63,10м2, 66,8м2  трикімнатні - 87,10м2"
    },
    {
      imgHouse: "house-2",
      title: "ЖК «Перспектива»",
      address: "м. Івано-Франківськ, вул. Зілізнична, 49",
      description: "Цокольне приміщення - 133,1 м2,  136,9 м2 Типовий поверх : Мансарда  дворівнева - 115,30м2"
    },
    {
      imgHouse: "house-3",
      title: "ЖК «Тріумф»",
      address: "м. Івано-Франківськ, вул. Мазепи, 35",
      description: "Цокольне приміщення - 286,2 м2  "
    },
    {
      imgHouse: "house-4",
      title: "ЖК ««Вектор»",
      address: "м. Івано-Франківськ, вул. Новгородська, буд. 25",
      description: "Цокольне приміщення - 102,8 м2 Перший поверх -  124,8 м2 Другий поверх - 27,0 м2, 128,6 м2 Мансарда: трикімнатні - 102,3м2, 135,9м2"
    },
    {
      imgHouse: "house-5",
      title: "ЖК «Пурпурові вітрила» ",
      address: "м. Буча, Київська обл. вул. Катерини Білокур 1-а",
      description: "Цокольне приміщення - 93,7 м2,  154,5 м2 Перший поверх - 101,5 м2, 146,5 м2 Другий поверх - 108,3 м2, 122,5 м2 Типовий поверх : двокімнатні - 63,10м2, 66,8м2 трикімнатні - 87,10м2"
    }
  ]